<div class="deskFooter m-0 mt-5 row">
  <div class="upperFooter mb-4 col-12 justify-content-between row">
    <div class="footerAddress col-6 col-md-12">
      <h5 class="addressHeader">
        Registered Address
        <a class="gmap" href="https://goo.gl/maps/GNYjNLwFEjenebRy6" target="_blank" style="text-decoration: none; color: white;"><i class="pi pi-map"></i></a>
      </h5>
      <p style="color:#ddd;"> Powergrid Corporation <br>ER-1, Sastri Nagar
        Patna, Bihar, India<br>Pin Code: 80014</p>
       <i class="fas fa-2x fa-solid fa-envelope" style="margin-right: 15px; cursor:pointer;" (click) ="copyEmail()"></i>
      <i class="fas fa-2x fa-solid fa-phone" style="margin-right: 15px; cursor:pointer;" (click)="copy()"></i>
    </div>
  </div>
  <div class="linkContainer col-12 row">
    <div class="col-md-12 col-12">
      <li class="footerListItem m-0 d-flex justify-content-center">
        Copyright © 2023 Power Grid Corporation of India Ltd. (POWERGRID), Ministry of Power
      </li>
    </div>
  </div>
</div>
